<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="diemayrei" translate="label" sortOrder="1001">
            <label>Diemayrei</label>
        </tab>
        <section id="diemayrei_cover_import" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>CoverImport</label>
            <tab>diemayrei</tab>
            <resource>Diemayrei_CoverImageImport::cover_import_config</resource>
            <group id="kaninchenzeitung" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Kaninchenzeitung</label>
                <field id="cover_kaninchenzeitung" type="text" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cover Kaninchenzeitung</label>
                    <validate>validate-url</validate>
                    <config_path>diemayrei/cover_import/kaninchenzeitung_cover</config_path>
                </field>
                <field id="cover_kaninchenzeitung_digital" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cover Kaninchenzeitung Digital</label>
                    <validate>validate-url</validate>
                    <config_path>diemayrei/cover_import/kaninchenzeitung_digital_cover</config_path>
                </field>
            </group>
            <group id="gefluegelzeitung" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Geflügelzeitung</label>
                <field id="cover_gefluegelzeitung" type="text" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cover Geflügelzeitung</label>
                    <validate>validate-url</validate>
                    <config_path>diemayrei/cover_import/gefluegelzeitung_cover</config_path>
                </field>
                <field id="cover_gefluegelzeitung_digital" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cover Geflügelzeitung Digital</label>
                    <validate>validate-url</validate>
                    <config_path>diemayrei/cover_import/gefluegelzeitung_digital_cover</config_path>
                </field>
            </group>
        </section>
    </system>
</config>