<?xml version="1.0"?>
<!-- Disable PO number validation so purchase order can be placed ohne Nummer -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="validate_purchase_order_number" disabled="true"/>
    </type>
</config>
