<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <event name="email_order_set_template_vars_before">
        <observer name="diemayrei_add_custom_variable_to_Order" instance="DieMayrei\EmailNotice\Observer\EmailVars" />
    </event>
</config>
