name: PHP Code Sniffer Pipeline

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

permissions:
  contents: write

jobs:
  phpcs:
    uses: ./.github/workflows/phpcs.yml

  phpcbf:
    if: github.ref == 'refs/heads/staging'
    needs: phpcs
    uses: ./.github/workflows/phpcbf.yml
