name: PHP CodeSniffer Job

on:
  workflow_call:

jobs:
  phpcs_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none

      - name: Cache Composer packages
        uses: actions/cache@v4
        with:
          path: vendor
          key: phpci-composer-${{ hashFiles('composer.lock') }}
          restore-keys: phpci-composer-

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress --no-interaction

      - name: Run PHP_CodeSniffer
        run: vendor/bin/phpcs --standard=phpcs.xml --runtime-set ignore_warnings_on_exit 1
